[flake8]
ignore =
    D100,
    D101,
    D102,
    D103,
    D104,
    D105,
    D106,
    I,
    N806,
    E302

exclude =
    */migrations/*,
    .git,
    __pycache__,
    */settings/*,
    */venv/*

max-line-length = 88
max-complexity = 10
